<div class="w3-container w3-padding-32 w3-theme-l5" id="contact">
  <div class="w3-row">
    <div class="w3-col m5">
      <div class="w3-padding-16"><h3><span class="w3-xlarge w3-border-teal w3-bottombar">Log In for FLASH SALES</span></h3></i></div>
    </div>
  </div>
<% @user = User.new %>
<% if @user.errors.any? %>
   <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h2 class="panel-title">
            <%= pluralize(@user.errors.count, "error") %>
            prohibited this user from being saved:
          </h2>
          <div class="panel-body">
            <ul>
              <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

  <%= form_for(:session, url: login_path) do |f| %>
  <div class="w3-container w3-card-4 w3-padding-64 w3-white form">
      <div class="w3-secton">      
        <%= f.label :username %>
        <%= f.text_field :username, class: "w3-input" %>
      </div>
      <div class="w3-secton">      
        <%= f.label :password %>
        <%= f.password_field :password, class: "w3-input" %>
      </div>
      <%= f.submit "Log in", class: 'w3-button w3-right w3-theme w3-hover-teal' %>
      
  </div>
<% end %>

</div>
