<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body id="myPage">

<div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align">
          <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
          <span class="w3-bar-item w3-teal"><i class="fa fa-home w3-margin-right"></i>FLASH SALES</span>
          <%= link_to 'About Us', root_path, class: "w3-bar-item w3-button w3-hide-small w3-hover-white w3-text-white" %>
          <a href="#footer" class="w3-bar-item w3-button w3-hide-small w3-hover-white  w3-text-white">Contact Us</a>
            <div class="w3-dropdown-hover w3-hide-small">
            <button class="w3-button w3-hover-white" title="Notifications">Get Started <i class="fa fa-caret-down"></i></button>     
            <div class="w3-dropdown-content w3-card-4 w3-bar-block">
              <% if logged_in? %>
              <%= link_to 'Log Out', logout_path, method: :delete, class: "w3-bar-item w3-button w3-hover-teal" %>
              <% else %>
              <%= link_to 'Log In', login_path, class: "w3-bar-item w3-button w3-hover-teal" %>
              <%= link_to 'Sign Up', signup_path, class: "w3-bar-item w3-button w3-hover-teal" %>
              <% end %>
            </div> 
          </div>
           <% if logged_in?%>
           
           <% if current_user.admin? %>
          <div class="w3-dropdown-hover w3-hide-small">
            <button class="w3-button w3-hover-white" title="Notifications">Deals <i class="fa fa-caret-down"></i></button>     
            <div class="w3-dropdown-content w3-card-4 w3-bar-block">
             
              <%= link_to 'View Deal', items_path, class: "w3-bar-item w3-button w3-hover-teal" %>
             
              <%= link_to 'Create deal', new_item_path, class: "w3-bar-item w3-button w3-hover-teal" %>
             
            </div> 
          </div>
           <% end %>
           <% end %>
           
          <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal" title="Search"><i class="fa fa-search"></i></a>
    </div>
</div>