<!DOCTYPE html>
<html>
  <head>
    <title>FlashSales</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <%= render 'layouts/navigation' %>
    
    <div class="w3-bar w3-border-teal w3-left-align w3-padding-16">
      <%= render 'layouts/messages' %>
    </div>
    <%= yield %>
    <%= render 'layouts/footer' %>
    
  
  </body>
</html>
